:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext: #bac2de;
  --subtexta: #a6adc8;
  --overlay: #9399b2;
  --overlaya: #7f849c;
  --overlayb: #6c7086;
  --surface: #585b70;
  --surfacea: #45475a;
  --surfaceb: #313244;
  --base: #1e1e2e;
  --base-light: rgba(30, 30, 46, 0.9);
  --mantle-light: rgba(18, 18, 25, 0.9);
  --mantle: #181825;
  --crust: #11111b;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range:
    U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC,
    U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2)
    format("woff2");
  unicode-range:
    U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC,
    U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
html {
  font-size: 100%;
  line-height: 1.6;
  color: var(--text);
  background-color: var(--crust);
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1200px;
  background-color: var(--base-light);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  box-shadow: 1px 2px 10px var(--crust);
  display: flex;
  z-index: 10;
}

main {
  background-color: var(--mantle);
  flex-grow: 1;
}

footer {
  flex-grow: 1;
  height: 20rem;
}

footer ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 1rem;
}

footer ul li {
  padding: 2rem;
}

footer .bottom {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

footer .logo {
  width: 30%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

footer .bottom p {
  width: 40%;
  text-align: center;
}

footer .social-icons {
  width: 30%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

footer .social-icons .icon {
  width: 50px;
  height: 50px;
}

footer .social-icons .icon img {
  width: 100%;
  height: auto;
  filter: brightness(0) invert(1);
}

img {
  border-radius: 4px;
}

nav {
  font-size: 1.1rem;
  flex-grow: 1;
}

/* NAV */
nav ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li a {
  color: var(--mauve);
  text-decoration: none;
  transition: color 0.2s ease;
}

ul li a:hover {
  color: var(--text);
}

.logo-container {
  flex-grow: 1;
}

.logo-container h2 {
  padding-left: 2rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
}

section {
  scroll-margin-top: 5rem;
  padding: 2rem;
}

#company {
  padding-top: 12rem;
  text-align: center;
}

#company h1 {
  margin-bottom: 4rem;
  font-size: 3rem;
}

#company p {
  font-size: 1.1rem;
  padding: 3rem 0 2rem 0;
  color: var(--subtext);
  text-wrap: balance;
}

#company img {
  width: 100%;
  height: auto;
}

#products {
  display: flex;
  gap: 1rem;
  padding: 4rem 2rem;
}

#products img {
  width: 100%;
  height: auto;
}

#products .card {
  padding: 1.5rem;
  background-color: var(--surfaceb);
  box-shadow: 1px 2px 10px var(--crust);
  border-radius: 4px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

#products .card:hover {
  transform: scale(1.025);
  background-color: var(--surfacea);
}

#products .card figcaption {
  color: var(--subtexta);
  font-size: 0.9rem;
  text-align: right;
}

#products .card p {
  text-wrap: pretty;
}

#products .card h3 {
  margin-bottom: 1rem;
}

#contact {
  display: flex;
}

#contact .info {
  width: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact .map {
  width: 60%;
  padding: 2rem;
}

#contact .map img {
  width: 100%;
  height: auto;
}

hr.divider {
  margin: 0 2rem;
  border-bottom: 1px groove var(--surface);
  border-radius: 1px;
}

hr.card-divider {
  margin: 0.5rem 0;
  border-bottom: 1px groove var(--peach);
  border-radius: 1px;
}
